{% extends 'base.html' %}

{% block content %}
<form method="post" id="object-form">
    <br><br><br>
    <div>
        <h1>{% block title %} Welcome to Object Finder Demo {% endblock %}</h1>
        <label>Select a Image:</label>
        <input type="file" name="file" id="file">    
        <button type="submit">submit</button>
    </div>    
    <div id="result" name="result"></div>
</form>
  <script type="text/javascript">
    $(document).on('submit','#object-form',function(e){                    

    e.preventDefault();
    var apiKey = 'acc_a6910ab041ae060';
    var apiSecret = '2cf42c857875adfcc4fbc3bfe72c3703';

    var imageUrl = 'https://picsum.photos/id/237/200/300';
    var url = 'https://api.imagga.com/v2/tags?image_url=' + encodeURIComponent(imageUrl) + apiKey +apiSecret;

      $.ajax({        
        //object 
        url:url,
        type:'get',   
        dataType: 'json',        
        success: function(response) {                        
            var results = JSON.stringify(response, null, 2)     
            console.log(results) ;              
        },
        fail: function( jqXHR, textStatus, errorThrown ) {
            console.log( 'Could not get posts, server response: ' + textStatus + ': ' + errorThrown );
        }
      })
    });
  </script>
{% endblock %}