{% extends 'base.html' %}

{% block content %}
<div>
  <form method="post" id="object_form" name="object_form" enctype="multipart/form-data">
    <br><br><br>
    <div>
      <h1>{% block title %} Welcome to Image - Object Finder Demo {% endblock %}</h1>
      <br />
      <div>
        <img src="/static/upload/placeholder.jpg" id="image_file" class="img-responsive">
      </div>
      <br />
      <p>
        <input type="file" name="file" id="file">
        <button class="btn btn-dark" type="submit">submit</button>
      </p>
    </div>
    <div id="result">

    </div>
  </form>
  <script type="text/javascript">
    $("#file").change(function () {
      $("#result").html("");
      readURL(this);
    });
   

    $(document).on('submit', '#object_form', function (e) {
      e.preventDefault();
      var formDataRaw = $('#object_form')[0];
      var form_data = new FormData(formDataRaw);
      $.ajax({
        url: '/objectupload',
        data: form_data,
        contentType: false,
        cache: false,
        processData: false,
        type: 'POST',
        success: function (response) {
          //console.log(response)                              

          var items ="";
          for(var i=0; i<=response["result"]["tags"].length-1; i++)
          {
             items  +=   response["result"]["tags"][i]["tag"]["en"] + " , ";
          }
          items = items.replace(/,\s*$/, "");
          //console.log(items);

          $("#result").html("The Image Contains: </br> <b>" + items + "</b>");
          console.log('Success!');
        },
        error: function (error) {
          console.log(error);
        }
      });
    });

    function readURL(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
          $('#image_file').attr('src', e.target.result);
        }

        reader.readAsDataURL(input.files[0]);
      }
    }
  </script>
</div>
{% endblock %}